<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<appSettings>
		<add key="IDCO" value="ON"/>
		<add key="CSR" value="ON"/>
		<add key="CICG" value="ON"/>
		<add key="SPMG" value="ON"/>
		<add key="DirectLogin" value="Off"/>
		<add key="Notice" value="On"/>
		<add key="SectorIdIT" value="10"/>
		<add key="SectorIdTOURISM" value="38"/>
		<add key="DeptIdIT" value="215"/>
		<add key="DeptIdTOURISM" value="214"/>
		<add key="DeptIdIPICOL" value="188"/>
		<add key="SectorIdWATER" value="10"/>
		<add key="BackUpPath" value="E:\"/>
		<add key="DbName" value="KwantifyAdminConsoleV5"/>
		<add key="ProviderName" value="System.Data.SqlClient"/>
		<add key="HierMenuName" value="SWP"/>
		<add key="Logout" value="~/Default.aspx"/>
		<add key="Home" value="~/Dashboard/Default.aspx"/>
		<add key="Config" value="N"/>
		<add key="UStatus" value="Existing"/>
		<add key="SesRediPage" value="~/SessionRedirect.aspx"/>
		<add key="AssemblyClass" value="SmsGateway.SMSGateway, SmsGateway, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
		<add key="AssemblyMethod" value="sendBulkSMS"/>
		<add key="ProxyLogin" value="Y"/>
		<add key="ActiveConnection" value="AdminAppConnectionProd"/>
		<add key="XmlDel" value="Y"/>
		<add key="ProjectName" value="SWP"/>
		<add key="ApplicationPath" value="http://localhost/SWP_Portal/"/>
		<add key="TradeLicenseSrvc.Tl002TradeLicenceService" value="http://0.0.0.0/eMunicipality-ws/services/Tl002TradeLicenceService"/>
		<add key="SMSTOADMIN" value="9955327527"/>

		<!--******************************************************************************************************-->
		<!--<add key="strRTNurl" value="http://localhost/SWP/TreasuryResponse.aspx"/>-->
		<add key="strRTNurl" value="http://localhost/swp_new/TreasuryResponse.aspx"/>
		<!--FOR STAGING-->
		<add key="strRTNurl" value="http://192.168.10.16/SWP/TreasuryResponse.aspx"/>

		<!--<add key="Responseurl" value="http://164.100.141.167/echallan/Tax.do" />-->
		<!--<add key="Responseurl" value="https://www.odishatreasury.gov.in/echallan/Tax.do"/>-->
		<add key="Responseurl" value="https://uat.odishatreasury.gov.in/echallan/dept-intg"/>

		<!--******************************************************************************************************-->
		<!--Mail Server key Start-->
		<add key="smptp" value="smtp.gmail.com"/>
		<add key="smptpPort" value="587"/>
		<add key="FromEmail" value="swpodisha@gmail.com"/>
		<add key="FromEmailPassword" value="9861957393"/>
		<!--Mail Server key End-->

		<!--******************************************************************************************************-->
		<add key="PTKEY" value="88ADD0B9-38DD-4E60-9762-5466F0AC3229"/>
		<!--<add key="ServiceReturnURL" value="http://117.247.252.241/SWP/PaymentThankYou.aspx"/>-->
		<add key="ServiceReturnURL" value="https://uatgoswift.csmpl.com/SWP/PaymentThankYou.aspx"/>
		<!--<add key="ServiceReturnURL" value="http://localhost/swp_new/PaymentThankYou1.aspx"/>-->
		<!--<add key="ServiceReturnURL" value="https://investodisha.gov.in/goswift/PaymentThankYou.aspx" />-->
		<!--<add key="SSOKey" value="b48d8691-e936-4de8-978c-e0d4a8bb959a"/>-->
		<!--<add key="SSOKey" value="675d425f-e137-43e5-9b2e-568187dd75ac"/>-->
		<add key="SSOKey" value="a9eea5da-92e2-4d05-8c08-4e5acde0c88e"/>
		<add key="Mailbefore" value="3"/>
		<!--<add key="AppaServiceURL" value="http://203.129.207.124/IDCOPortal/SWPDashboard.svc/"/>-->
		<add key="AppaServiceURL" value="http://portal.idco.in/SWPDashboard.svc/"/>

		<!--******************************************************************************************************-->
		<!--<add key="CSRServiceURL" value="http://192.168.201.50/csr/SWPDashboard.svc/"/>-->
		<!--<add key="CSRServiceURL" value="http://203.129.207.124/ipicolcsr/SWPDashboard.svc/"/>-->
		<add key="CSRServiceURL" value="https://csr.odisha.gov.in/SWPDashboard.svc/"/>

		<!--******************************************************************************************************-->
		<!--<add key="CICGServiceURL" value=" http://csmbhud200/CICG/CICGServices.svc/"/>-->
		<add key="CICGServiceURL" value="https://cicg.investodisha.org/CICGServices.svc/"/>

		<!--<add key="SSOService.validateservice" value="https://sso.investodisha.org/validateservice.asmx"/>-->
		<!--<add key="SSOService.validateservice" value="http://csmbhud093/ipipcol-sso/validateservice.asmx"/>-->

		<add key="TradeLicense" value="https://www.ulbodisha.gov.in/or/ulb/citizen-services"/>
		<add key="PartnershipFirm" value="http://igrodisha.gov.in/Admin/Firm/OPER/FirmDtl.aspx"/>		

		<!--******************************************************************************************************-->
		<!--forest department LIVE-->
		<!--<add key="TreeTransit" value="https://www.ttpermitodisha.in/goswiftlogin"/>-->
		<!--forest department satging-->
		<add key="TreeTransit" value="http://159.203.168.178:8000/goswiftlogin"/>
		<add key="TreeTransitReapply" value="http://159.203.168.178:8000/goswiftapplicationflow"/>

		<!--******************************************************************************************************-->
		<add key="ProfessionalTax" value="https://web.odishatax.gov.in/portal/Login/Login.aspx"/>
		<add key="ProfessionalTax" value="https://web.odishatax.gov.in/portal/eRegistration/FirstTimeRegistration.aspx"/>

		<!--******************************************************************************************************-->
		<add key="PollutionControl" value="http://odocmms.nic.in/OCMMS/industryRegMaster/singleWindowIndustry"/>
		<!--<add key="PollutionControl" value="http://164.100.163.18/OSPCB/industryRegMaster/singleWindowIndustry"/>-->
		<add key="TradeLicenseDetail" value="https://www.ulbodisha.gov.in/or/ulb/citizen-services"/>
		<add key="PartnershipFirmDetail" value="http://igrodisha.gov.in/ADMIN/Firm/OPER/firmStatus.aspx"/>

		<!--******************************************************************************************************-->
		<add key="DrugLicense" value="http://dcodishaonline.nic.in/dcodisha/dcservice.php"/>
		<add key="DrugLicenseDetail" value="http://dcodishaonline.nic.in/dcodisha/dcservice.php"/>

		<!--******************************************************************************************************-->
		<!--<add key="TreeTransitDetail" value="https://ttpermitodisha.in/users/swpLogin"/>-->
		<!--forest department LIVE-->
		<!--<add key="TreeTransitDetail" value="https://www.ttpermitodisha.in/goswiftpreview"/>-->
		<!--forest department satging-->
		<add key="TreeTransitDetail" value="http://159.203.168.178:8000/goswiftpreview"/>
		<!--forest department satging-->
		<add key="TreecheckStatus" value="http://159.203.168.178:8000/goswiftttpermitPreview"/>
		<add key="ProfessionalTaxDetail" value="https://web.odishatax.gov.in/portal/eRegistration/FirstTimeRegistrationPT.aspx"/>
		<add key="PollutionControlDetail" value="http://odocmms.nic.in/OCMMS/industryRegMaster/industryHome"/>
		<add key="TradeLicenseQuery" value="https://www.ulbodisha.gov.in/or/ulb/citizen-services"/>
		<add key="PartnershipFirmQuery" value="http://igrodisha.gov.in/ADMIN/Firm/OPER/firmStatus.aspx"/>
		<add key="DrugLicenseQuery" value="http://dcodishaonline.nic.in/dcodisha/dcservice.php"/>
		<add key="TreeTransitQuery" value="https://ttpermitodisha.in/users/swpLogin"/>
		<add key="ProfessionalTaxQuery" value="https://web.odishatax.gov.in/portal/eRegistration/FirstTimeRegistrationPT.aspx"/>
		<add key="PollutionControlQuery" value="http://odocmms.nic.in/OCMMS/applicationProcessingDetails/submitClarification/"/>
		<add key="DrugcheckStatus" value="http://dcodishaonline.nic.in/dcodisha/dcstatus.php"/>

		<add key="PollutioncheckStatus" value="http://odocmms.nic.in/ODWS/checkStatus"/>
		<add key="CNETLicenseQuery" value="http://erp.idco.in/postResponseForQuery"/>
		<add key="CNETPaymenturl" value="https://portal.idco.in/MSME/SWPPayment.aspx"/>
		<!--<add key="CNETForwardIdco" value="https://erp.idco.in/rest/sendDataFromSWPtoERP"/>-->
		<add key="CNETForwardIdco" value="http://203.193.144.6:8080/idco/rest/sendDataFromSWPtoERP"/>
		<add key="NSWSLandingPage" value="https://uatgoswift.csmpl.com/SSOLoginNSWS.aspx"/>

		<!--******************************************************************************************************-->
		<!--Department id for dashboard-->
		<add key="DeptIdIDCOW" value="8"/>
		<add key="DeptIdIDCO" value="659"/>
		<add key="DeptIdLabDirectorate" value="11"/>
		<add key="DeptIdOSPCB" value="13"/>
		<add key="DeptIdFactBoil" value="10"/>
		<add key="DeptIdLegalMetrology" value="4"/>
		<add key="DeptIdChiefElecInsp" value="3"/>
		<add key="SWPNEWSERV.MiningVerificationService" value="https://www.odishatreasury.gov.in/echallanservices/MiningVerificationService"/>
		<add key="ActualAmount" value="Yes"/>
		<add key="PreviewURL" value="Log into www.invest.odisha.gov.in/swp for further details."/>
		<add key="AllowPeriod" value="3"/>

		<!--******************************************************************************************************-->
		<!--Keys for online PAN validation from NSDL portal-->
		<!--******************************************************************************************************-->
		<add key="CheckPAN" value="ON"/>
		<add key="ValidateNSDLPAN" value="OFF"/>
		<add key="PanUserID" value="V0024301"/>
		<!--<add key="PanUserID" value="V0179101"/>-->	
		<!--<add key="PanUserID" value="V0175701"/>-->		
		<add key="PanPWD" value="emudhra"/>
		<!--<add key="PanPWD" value="ncode@123"/>-->
		<!--<add key="PanURL" value="https://59.163.46.2/TIN/PanInquiryBackEnd"/>-->
		<add key="PanURL" value="https://121.240.36.237/TIN/PanInquiryAPIBackEnd"/>
		<!--<add key="Certificatename" value="ncodeipicol.pfx"/>-->
		<add key="Certificatename" value="Signer.pfx"/>
		
		<!--******************************************************************************************************-->		
		<add key="AMSUrl" value="http://ams.investodisha.org/GoSwiftLanding.aspx"/>
		<add key="AppUrl" value="https://investodisha.gov.in/goswift/"/>
		<add key="DWHEncryptionKey" value="B48D8691-E936-4DE8-978C-E0D4A8BB959A"/>
		<add key="SvcRtnURL" value="https://investodisha.gov.in/goswift/IntegratedServicePayment.aspx"/>
		<add key="SvcClientId" value="CBJCHBCAABAAkIETGPk2npXyPtdfvztN0XdntbuTMsnB"/>
		<add key="SvcSecretId" value="FxBd1ryXFRAy_HSYFETEbUpdnGVMe04g"/>

		<!--******************************************************************************************************-->
		<add key="CICGReturnUrl" value="http://192.168.201.74/cicg/ilogin.aspx"/>
		<!--<add key="CICGReturnUrl" value="http://cicg.investodisha.org/ILogin.aspx" />-->

		<!--******************************************************************************************************-->
		<add key="Srvc41AcountHd1" value="0030-03-800-0097-01076-001"/>
		<add key="Srvc41AcountHd2" value="0029-00-800-0097-01077-002"/>
		<add key="strSrvc41AcountHdProce" value="0700-80-800-0097-02240-000"/>
		<add key="strSrvc41AcountHdSecurity" value="8443-00-116-1677-91333-000"/>
		<add key="strSrvc48ApplicationFee" value="0030-03-800-0097-01076-000"/>
		<add key="strSrvc48ConversionFee" value="0029-00-800-0097-01077-000"/>
		<add key="strSrvc16UserFee" value="0875-60-800-0097-02241-000"/>
		<add key="strDefaultAccountFee" value="0852-80-800-0234-02233-000"/>
		<add key="GOIPASReturnUrl" value="http://192.168.202.234/IDCOPortal/EntrepreneurLogin.aspx"/>

		<!--******************************************************************************************************-->
		<!--GO-IPAS AND BPAS INTEGRATION KEY BEGIN-->
		<!--<add key="BPASRedirectionURL" value="https://bpas.bdabbsr.in/BdaBPAS/Login/AutoLogin" />-->
		<!--<add key="BPASCHECKSTATUSURL" value="https://bpas.bdabbsr.in/swpliveapi/api/swp" />-->
		<add key="BPASCHECKSTATUSURL" value="http://164.164.122.169:8090/bbsronestg/api/encryptorFn"/>
		<add key="BPASRedirectionURL" value="http://172.27.36.156/bbsrone/Bhubaneswar_One_0.1.0.0/demoUserdtls/"/>
		<add key="BPASScrutinyPaymentURL" value="http://172.27.36.156/bbsrone/Bhubaneswar_One_0.1.0.0/demoUserdtls/"/>
		<add key="GOSWIFTDRAFTURL" value="http://192.168.201.74/swp/DraftedServices.aspx"/>
		<add key="GOSWIFTAPPLICATIONURL" value="http://192.168.201.74/swp/ApplicationDetails.aspx"/>
		<add key="GOIPASRedirectionURL" value="http://192.168.202.234/IDCOPortal/EntrepreneurLogin.aspx"/>
		<add key="GOIPASServiceViewURL" value="http://192.168.202.234/IDCOPortal/MSME/ApplicationDetails.aspx"/>
		<!--GO-IPAS AND BPAS INTEGRATION KEY END-->

		<!--******************************************************************************************************-->
		<add key="MAILADMIN" value="rajibdhal@investodisha.org"/>
		<add key="ValidationSPMG" value="ON"/>
		<add key="strSrvc7AcountHdSecurity" value="8443-00-103-1685-91026-000"/>

		<!--******************************************************************************************************-->
		<add key="CmsOrtpsaServiceUrl" value="http://central.ortpsa.in/API/api_ind_test.php"/>
		<!--<add key="CmsOrtpsaServiceUrl" value="http://central.ortpsa.in/API/api_ind.php"/>-->

		<!--******************************************************************************************************-->
		<add key="FIREREDIRECTIONURL" value="http://161.35.126.194/fire_safety"/>
		<add key="FIRECHECKSTATUSURL" value="http://161.35.126.194/fire_safety/webservices/getUserRecord"/>
		<add key="FIREVIEWSTATUSURL" value="http://161.35.126.194/fire_safety/webservices/getEncryptApplicationNo"/>
		<!--<add key="FIREREDIRECTIONURL" value="https://www.agnishamaseva.odisha.gov.in"/>-->
		<!--<add key="FIRECHECKSTATUSURL" value="https://www.agnishamaseva.odisha.gov.in/Webservices/getUserRecord"/>-->
		<!--<add key="FIREVIEWSTATUSURL" value="https://www.agnishamaseva.odisha.gov.in/Webservices/getEncryptApplicationNo"/>-->

		<!--******************************************************************************************************-->
		<add key="EXCISESRREDIRECTIONURL" value="http://164.100.141.252/eAbkari/goswift_api_pla/GoSwiftPLA/Insert_GoSwift_Supplier_Registration_Transaction"/>
		<add key="EXCISEGNSREDIRECTIONURL" value="http://stateexcise.odisha.gov.in/goswift_api_pla/GoSwiftPLA/Insert_GoSwift_PLA_Transaction"/>
		<add key="EXCISEVIEWSTATUSURL" value="http://164.100.141.252/eabkari/goswift_api_pla/GoSwiftPLA/View_Details_GoSwift_Supplier_Registration_Transaction"/>

		<!--<add key="OSBCREDIRECTIONURL" value="http://117.239.112.221/HTTP_PUBLIC/GoSwift/GoSwiftLanding.aspx"/>-->
		<add key="OSBCREDIRECTIONURL" value="https://osbcl.co.in/HTTP_PUBLIC/GoSwift/GoSwiftLanding.aspx"/>
		<!--Excise service 69 staging url-->

		<!--******************************************************************************************************-->
		<!--<add key="PARESHRAMREDIRECTIONURL" value="https://pareshram-labour.odisha.gov.in/goswift/initiateApplication"/>-->
		<!--<add key="PARESHRAMREDIRECTIONURL" value="https://pareshram-labour.odisha.gov.in/pareshram/goswift/initiateApplication"/>-->
		<!--<add key="PARESHRAMREDIRECTIONURL" value="http://61.2.215.77:8085/pareshram/goswift/initiateApplication"/>-->
		<!--<add key="PARESHRAMREDIRECTIONURL" value="http://61.2.45.238:8085/pareshram/goswift/initiateApplication"/>-->
		<!--<add key="PARESHRAMREDIRECTIONURL" value="http://61.2.45.238:8081/pareshram/goswift/initiateApplication"/>-->

		<add key="PARESHRAMREDIRECTIONURL" value="http://65.0.27.203:8080/pareshram/goswift/initiateApplication"/>
		<add key="PARESHRAMVIEWSTATUSURL" value="http://65.0.27.203:8080/pareshram/goswift/viewApplication"/>
		<add key="PARESHRAMQUERYSTATUSURL" value="http://65.0.27.203:8080/pareshram/goswift/viewQueries"/>
		<add key="PARESHRAMVIEWSTATUSURL" value="https://pareshram-labour.odisha.gov.in/pareshram/goswift/viewApplication"/>
		<add key="PARESHRAMQUERYSTATUSURL" value="https://pareshram-labour.odisha.gov.in/pareshram/goswift/viewQueries"/>

		<!--F&B and Labour Service payment status update -->
		<!--<add key="ePareshramPaymentStatusUpdate" value="http://61.2.215.77:8085/pareshram/goswift/UpdatePaymentInfo"/>-->
		<!--<add key="ePareshramPaymentStatusUpdate" value="http://61.2.45.238:8085/pareshram/goswift/UpdatePaymentInfo"/>-->
		<add key="ePareshramPaymentStatusUpdate" value="http://61.2.45.238:8081/pareshram/goswift/UpdatePaymentInfo"/>
		<!--F&B and Labour Service payment status update -->
		<add key="MobileTowerRedirectionUrl" value="https://13.235.106.116/ocac/customer/sso-goswift.php"/>
		<add key="MobileTowerViewStatusUrl" value="https://13.235.106.116/ocac/customer/sso-goswift-application-details.php"/>
		<add key="MobileTowerRedirectionUrl" value="https://mits.odisha.gov.in/customer/sso-goswift.php"/>
		<add key="MobileTowerViewStatusUrl" value="https://mits.odisha.gov.in/customer/sso-goswift-application-details.php"/>
		<add key="DGSETREDIRECTIONURL" value="https://edistrict.odisha.gov.in/serviceLink.html?serviceToken=COr8JN504A"/>

		<!--******************************************************************************************************-->
		<!--Internal email Ids for testing various email services-->
		<!--******************************************************************************************************-->
		<add key="InternalMail1" value="anil.sahoo@csm.tech"/>
		<add key="InternalMail2" value="sushant.jena@csm.tech"/>
		<add key="InternalMail3" value="akashdas@investodisha.org"/>
		<add key="InternalMail4" value="rajibdhal@investodisha.org"/>
		<add key="InternalMail5" value="info@investodisha.org"/>
		<add key="InternalMail6" value="support.investodisha@gov.in"/>

		<!--******************************************************************************************************-->
		<add key="IFMSKeyPath" value="D://Projects//SWPGoo//SWP_NEW//IND//IND.key"/>
		<add key="VerificationTreasuryUrl" value="https://uat.odishatreasury.gov.in/echallanservices/depts2sresponse"/>

		<!--******************************************************************************************************-->
		<!--NSWS Keys (START)-->
		<!--For NSWS GOSWIFT Portal-->
		<!--For Staging-->
		<add key="NSWSFileDownloadPage" value="https://uatgoswift.csmpl.com/DownloadFileNSWS.ashx"/>
		<add key="NSWSLandingPage" value="https://uatgoswift.csmpl.com/SSOLoginNSWS.aspx"/>
		<!--For Live-->
		<add key="NSWSFileDownloadPage" value="https://investodisha.gov.in/DownloadFileNSWS.ashx"/>
		<!--<add key="NSWSLandingPage" value="https://investodisha.gov.in/goswift/SSOLoginNSWS.aspx"/>-->
		<!--******************************************************************************************************-->
		<!--NSWS UAT-->
		<add key="NswsTokenGenerationUrl" value="https://sso-uat-nsws.investindia.gov.in/auth/realms/madhyam/protocol/openid-connect/token"/>
		<add key="NswsRedirectionApiUrl" value="https://uat-nsws.investindia.gov.in/gateway/form-builder/caf/redirection"/>
		<add key="NswsPullCafUrl" value="https://uat-nsws.investindia.gov.in/gateway/form-builder/caf/public"/>
		<add key="NswsPushLicenseApiUrl" value="https://uat-nsws-mnstrportal.investindia.gov.in/nsws_license/pushLincenceDetails"/>
		<add key="NswsPostLicenseApiUrl" value="https://uat-nsws-mnstrportal.investindia.gov.in/nsws_license/postLicenseStatus"/>
		<add key="NswsPullDocApiUrl" value="https://uat-nsws-mnstrportal.investindia.gov.in/nsws_document/getDocument"/>
		<add key="NswsPushDocWithURLApiUrl" value="https://uat-nsws-mnstrportal.investindia.gov.in/nsws_document/pushDocumentWithURL"/>
		<add key="NswsDocRepositoryApiUrl" value="https://uat-nsws-mnstrportal.investindia.gov.in/nsws_document/fetchFileMetadataSwsId"/>

		<!--NSWS API For SAML Integration-->
		<add key="NswsPreCheckApiUrl" value="https://dev-nsws.investindia.gov.in/auth/realms/madhyam/userOrg/redirect/user/odisha?clientId=portal-dev"/>
		


		<!--==NSWS PRE-PRODUCTION==-->
		<!--<add key="NswsTokenGenerationUrl" value="https://api-ppe-nsws.maadhyam.gov.in/gateway/auth/authenticate"/>
			<add key="NswsRedirectionApiUrl" value="https://api-ppe-nsws.maadhyam.gov.in/gateway/form-builder/caf/redirection"/>
			<add key="NswsPullCafUrl" value="https://api-ppe-nsws.maadhyam.gov.in/nsws_extrnl_intrnl_api/caf"/>    
			<add key="NswsPushLicenseApiUrl" value="https://api-ppe-nsws.maadhyam.gov.in/nsws_license/pushLincenceDetails"/>
			<add key="NswsPostLicenseApiUrl" value="https://api-ppe-nsws.maadhyam.gov.in/nsws_license/postLicenseStatus"/>
			<add key="NswsPullDocApiUrl" value="https://api-ppe-nsws.maadhyam.gov.in/nsws_document/getDocument"/>
			<add key="NswsPushDocWithURLApiUrl" value="https://api-ppe-nsws.maadhyam.gov.in/nsws_document/pushDocumentWithURL"/>
			<add key="NswsDocRepositoryApiUrl" value="https://api-ppe-nsws.maadhyam.gov.in/nsws_document/fetchFileMetadataSwsId"/>-->

		<!--==NSWS LIVE==-->
		<!--<add key="NswsTokenGenerationUrl" value="https://api-nsws.maadhyam.gov.in/gateway/auth/authenticate"/>
			<add key="NswsRedirectionApiUrl" value="https://api-nsws.maadhyam.gov.in/gateway/form-builder/caf/redirection"/>
			<add key="NswsPullCafUrl" value="https://api-nsws.maadhyam.gov.in/nsws_extrnl_intrnl_api/caf"/>
			<add key="NswsPushLicenseApiUrl" value="https://api-nsws.maadhyam.gov.in/nsws_license/pushLincenceDetails"/>
			<add key="NswsPostLicenseApiUrl" value="https://api-nsws.maadhyam.gov.in/nsws_license/postLicenseStatus"/>
			<add key="NswsPullDocApiUrl" value="https://api-nsws.maadhyam.gov.in/nsws_document/getDocument"/>
			<add key="NswsPushDocWithURLApiUrl" value="https://api-nsws.maadhyam.gov.in/nsws_document/pushDocumentWithURL"/>
			<add key="NswsDocRepositoryApiUrl" value="https://api-nsws.maadhyam.gov.in/nsws_document/fetchFileMetadataSwsId"/>-->

		<!--==NSWS API KEYS (UAT)==-->
		<add key="NswsApiAccessId" value="MIN_TEST_0"/>
		<add key="NswsApiAccessSecret" value="MintesT@1234"/>
		<add key="NswsApiKeyPullDoc" value="Min1@GD03"/>
		<add key="NswsApiKeyPushDocWithUrl" value="Min1@GLSD12"/>
		<add key="NswsApiKeyPostLicence" value="Min1@PLS07"/>
		<add key="NswsApiKeyPushLicence" value="Min1@PLD11"/>
		<add key="NswsApiKeyDocRepository" value="Min1@FFMSI04"/>

		<!--==NSWS API KEYS (PRE-PRODUCTION)==-->
		<!--<add key="NswsApiAccessId" value="State_Odisha"/>
			<add key="NswsApiAccessSecret" value="AcSecKeyPPE@1234"/>
			<add key="NswsApiKeyPullDoc" value="AcSecKey@GD03"/>
			<add key="NswsApiKeyPushDocWithUrl" value="Min1@GLSD12"/>
			<add key="NswsApiKeyPostLicence" value="AcSecKey@PLS07"/>
			<add key="NswsApiKeyPushLicence" value="AcSecKey@PLD11"/>
			<add key="NswsApiKeyDocRepository" value="AcSecKey@FFMSI04"/>-->

		<!--==NSWS API KEYS (PRODUCTION)==-->
		<!--<add key="NswsApiAccessId" value="State_Odisha"/>
			<add key="NswsApiAccessSecret" value="ProdOds@1252"/>
			<add key="NswsApiKeyPullDoc" value="ProdOds#15419@AK1002"/>
			<add key="NswsApiKeyPushDocWithUrl" value="ProdOds#15419@AK1016"/>
			<add key="NswsApiKeyPostLicence" value="ProdOds#15419@AK1006"/>
			<add key="NswsApiKeyPushLicence" value="ProdOds#15419@AK1010"/>
			<add key="NswsApiKeyDocRepository" value="ProdOds#15419@AK1003"/>-->

		<!--NSWS Keys (END)-->
		<!--******************************************************************************************************-->
	</appSettings>
	<connectionStrings>
		<add name="AdminAppConnectionProd" connectionString="Server=DEVMSDBW06;uid=SwpG;pwd=Pass@123;database=SWPGOO;Timeout=100000000;Pooling=false;" providerName="System.Data.SqlClient"/>
		<!--<add name="AdminAppConnectionProd" connectionString="Server=server6;uid=swp;pwd=sWp@Go#1629;database=SWPGOO;Timeout=100000000;Pooling=false;" providerName="System.Data.SqlClient"/>-->
	</connectionStrings>
	<system.web.extensions>
		<scripting>
			<webServices>
				<jsonSerialization maxJsonLength="50000000"/>
			</webServices>
		</scripting>
	</system.web.extensions>
	<system.web>
		<sessionState timeout="100"/>
		<httpRuntime maxRequestLength="1048576585" requestValidationMode="2.0" requestPathInvalidCharacters=""/>
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Security, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Net.Http, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Net, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
			</assemblies>
		</compilation>
		<httpHandlers>
			<add verb="GET" path="CaptchaImage.axd" type="MSCaptcha.CaptchaImageHandler, MSCaptcha"/>
		</httpHandlers>
		<httpModules>
			<add name="QueryStringEncModule" type="QueryStringEncModule"/>
		</httpModules>
		<customErrors mode="Off" defaultRedirect="~/CustomError.aspx"/>

	</system.web>
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false"/>
		<handlers>
			<add name="CaptchaImage" verb="GET" path="CaptchaImage.axd" type="MSCaptcha.CaptchaImageHandler, MSCaptcha"/>
		</handlers>
		<!--<modules runAllManagedModulesForAllRequests="true">
      <add name="QueryStringEncModule" type="QueryStringEncModule" />
    </modules>-->
	</system.webServer>
	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="BasicHttpBinding_IProposalBusinessLayer" maxReceivedMessageSize="2147483647" />
				<binding name="BasicHttpBinding_IPealBusinessLayer" />
				<binding name="BasicHttpBinding_IServiceBusinessLayer" maxReceivedMessageSize="2147483647" />
				<binding name="BasicHttpBinding_IDWHServiceHost" />
				<binding name="BasicHttpBinding_Iservice" />
				<binding name="BasicHttpBinding_ILoginBusinessLayer" />
				<binding name="OSBCSoftSoap" />
				<binding name="BasicHttpBinding_IDWHServiceHost1" />
			</basicHttpBinding>
			<customBinding>
				<binding name="Tl002TradeLicenceServiceSOAP11Binding">
					<textMessageEncoding messageVersion="Soap11" />
					<httpTransport />
				</binding>
				<binding name="OSBCSoftSoap12">
					<textMessageEncoding messageVersion="Soap12" />
					<httpTransport />
				</binding>
			</customBinding>
			<wsHttpBinding>
				<binding name="WSHttpBinding_IProposalDal" maxReceivedMessageSize="2147483647" />
				<binding name="SWPBinding" sendTimeout="00:25:00" maxBufferPoolSize="2147483647"
				  maxReceivedMessageSize="2147483647">
					<readerQuotas maxDepth="32" maxStringContentLength="999999999"
					  maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
				</binding>
				<binding name="WSHttpBinding_ITradeCheckStatus" />
			</wsHttpBinding>
		</bindings>
		<client>
			<endpoint address="http://localhost/SWP_Service/Proposal.svc"
			  binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IProposalBusinessLayer"
			  contract="ProposalService.IProposalBusinessLayer" name="BasicHttpBinding_IProposalBusinessLayer" />
			<endpoint address="http://localhost/SWP_Service/Peal.svc" binding="basicHttpBinding"
			  bindingConfiguration="BasicHttpBinding_IPealBusinessLayer" contract="PealService.IPealBusinessLayer"
			  name="BasicHttpBinding_IPealBusinessLayer" />
			<endpoint address="http://localhost/SWP_Service/Service.svc"
			  binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServiceBusinessLayer"
			  contract="DataAcessLayer.Service.IServiceBusinessLayer" name="BasicHttpBinding_IServiceBusinessLayer" />
			<endpoint address="http://localhost/SWP_Service/ProposalService.svc"
			  binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IProposalDal"
			  contract="IProposalDal" name="WSHttpBinding_IProposalDal">
				<identity>
					<dns value="localhost" />
				</identity>
			</endpoint>
			<endpoint address="http://0.0.0.0:80/eMunicipality-ws/services/Tl002TradeLicenceService"
			  binding="customBinding" bindingConfiguration="Tl002TradeLicenceServiceSOAP11Binding"
			  contract="TradeLicenceSrvc.Tl002TradeLicenceServicePortType"
			  name="Tl002TradeLicenceServiceSOAP11port_http" />
			<endpoint address="http://164.100.141.243/UserRegistration.svc"
			  binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Iservice"
			  contract="AIMServiceReference.IUserRegistration" name="BasicHttpBinding_Iservice" />
			<endpoint address="http://server16/SWP_Service/TradeServiceCheckStatus.svc"
			  binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ITradeCheckStatus"
			  contract="TradeLicenceServiceReference.ITradeCheckStatus" name="WSHttpBinding_ITradeCheckStatus">
				<identity>
					<dns value="localhost" />
				</identity>
			</endpoint>
			<endpoint address="https://osbcl.co.in/HTTP_PUBLIC/GoSwift/AESEncryptDecrypt.asmx"
			  binding="customBinding" bindingConfiguration="OSBCSoftSoap12"
			  contract="ExciseOSBCServiceReference.OSBCSoftSoap" name="OSBCSoftSoap12" />
			<endpoint address="http://192.168.10.9/INDUSTRYDW/DWHService.svc"
			  binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDWHServiceHost1"
			  contract="DWHServiceReference.IDWHServiceHost" name="BasicHttpBinding_IDWHServiceHost" />
		</client>
	</system.serviceModel>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="itextsharp" publicKeyToken="8354ae6d2174ddca" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-4.1.6.0" newVersion="4.1.6.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>